body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Tahoma, Geneva, sans-serif;
    background-image: url("poop.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    vertical-align: middle;
    
}
#butt {
    color: blue;
    background-color: coral;
}
#irl {
    display: block;
    width: 474px;
    margin: 0 auto;
}
#header {
    background-color: black;
    opacity: 0.6;
    font-size: 5vh;
    padding: 1vh 0vh 1vh 0vh;
    min-width: 500px;
}
#header div {
    display: inline-block;
    opacity: 1;
    color: white;
}
#content {
    background-color: rgba(0, 0, 0, 0.4);
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 500px;
}
.content {
    display: block;
    min-width: 470px;
    width: 70vw;
    max-width: 70vw;
    text-align: center;
    margin: 0 auto;
}
.title {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 4vh;
} 
.player_tbl {
    opacity: 1;
    color: white;
    margin-left:auto; 
    margin-right:auto;
    background-color: rgba(30, 30, 30, 0.4);
}
.player_tbl tr {
    margin: 3px 0px 3px 0px;
    opacity: 1;
    display: block;
    min-width: 470px;
    max-width: 30vw;
}
.player_tbl tbody tr {
 
    
    background-color: rgba(60, 60, 60, 1);
    cursor: pointer;
}  
.player_tbl thead tr {
    background-color: rgba(30, 30, 30, 1);
}  
.player_tbl td {
    margin: 0px 0px 0px 0px;
    text-align: center;
    max-width: 15vw;
    min-width: 150px;
    font-size: 1.5vh;
}
.player_tbl th {
    text-align: center;
    max-width: 15vw;
    min-width: 150px;
}